@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"), url("IBMPlexMono-Bold-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"), url("IBMPlexMono-Italic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}

html, body, h1.title, h1, h2, h3, h4, h5, .subtitle {
  font-family: 'IBM Plex Mono', Courier New, monospace, sans-serif;
}

.title {
  position: relative;
  z-index: 2;
}

h2, h3, h4, h5, h6 {
  padding-top: 0.2em;
  border-top: 1px dashed grey;
}

#me {
  position: absolute;
  z-index: 2;
  width: 7em;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
}


@keyframes jumpin {
  0%   { transform: translateY(-100%) scale(.4); }
  65%  { transform: translateY(0) scale(.4); }
  85%  { transform: translateY(-8%) scale(.4); }
  100% { transform: translateY(0) scale(.4); }
}

#spider {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transform: scale(.4);
  transform-origin: top;
  animation-name: jumpin;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.spider-body { fill: black }
.spider-legs { stroke: black; }
.spider-eye { fill: white }
.spider-web { stroke: #eee }

#contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contacts a {
  margin: 0 .25em;
}

@media (prefers-color-scheme: dark) {
  #contacts svg {
    fill: white;
  }

  .spider-body { fill: white }
  .spider-legs { stroke: white; }
  .spider-eye { fill: black }
  .spider-web { stroke: #555 }
}

@media (min-width: 480px) {
  .outline-text-2, .outline-text-3, .outline-text-4, .outline-text-5, .outline-text-6 {
    padding-left: 1em;
  }

  h3, h4, h5, h6 {
    margin-left: .5em;
  }
}
